@import "tailwindcss";

@theme{
  --color-background: black;
  --color-foreground: white;

  --color-card: #141a1f;

  --color-primary: #20b2a6;
  --color-primary-foreground: #ffffff;

  --color-secondary: #1f2830;
  --color-secondary-foreground: #20b2a6;

  --color-muted: #252e37;
  --color-muted-foreground: #7a8491;

  --color-border: #242b32;

  --radius: 0.75rem;

  --color-highlight: #f5a623;
  --color-surface: #1a2329;


}

@layer base{
  html {
    scroll-behavior: smooth;

  }
  body {
    background-color: var(--color-background);
  }
}